:root {
  --gray: #868E96;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 14px;

  &__text {
    font-size: 14px;
    font-weight: 600;
  }

  &__description {
    font-size: 12px;
    color: var(--gray);
  }
}

.input {
  outline: none;
  background: transparent;
  border: none;

  &-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #c5c3c3;
    transition: 0.2s;

    span {
      font-weight: 600;
      color: var(--gray);;
    }

    &:hover {
      cursor: text;
    }

    &:focus-within {
      transition: 0.2s;
      border: 1px solid #228BE6;
    }
  }

  &__left-icon {
    margin-left: auto;
  }
}